In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('allshootings.csv')
df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2509362,"January 23, 2023",Illinois,Chicago,2900 block of East 78th St,2,3,NaN
1,2509663,"January 23, 2023",California,Half Moon Bay,12761 San Mateo Rd,7,1,NaN
2,2508683,"January 22, 2023",Mississippi,Robinsonville (Tunica Resorts),1010 Casino Center Dr,0,4,NaN
3,2508370,"January 22, 2023",Louisiana,Baton Rouge,4619 Bennington Ave,0,12,NaN
4,2508522,"January 22, 2023",Louisiana,Shreveport,1600 Sugar Ln,0,8,NaN
...,...,...,...,...,...,...,...,...
1995,1579266,"December 24, 2019",Louisiana,New Orleans,6400 block of General Meyer Ave,0,4,NaN
1996,1594317,"December 24, 2019",Illinois,Joliet,1200 block of Cutter Ave,0,5,NaN
1997,1579220,"December 24, 2019",North Carolina,High Point,1226 Montlieu Ave,0,6,NaN
1998,1577577,"December 22, 2019",Maryland,Baltimore,225 Park Ave,0,7,NaN
1999,1577688,"December 22, 2019",Minnesota,Minneapolis (Spring Lake Park),8407 Plaza Blvd NE,1,7,NaN